[build]
  command = "CI= npm run build"  # Specify your build command here
  functions = "functions"    # Specify the directory where your functions are located


[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"

[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
