.footer {
    width: 100%;
    height: 60px;
    position: relative;
    top: 220px;
  }

  .footer .grid-footer .container .footer-text {
    color: white;
  }

  .container {
    display: flex;
    align-items: center;
  }
  
  .container h1 {
    margin-top: -80px;
    margin-left: -180px;
    font-size: 0px;
  }
  
  .tsp-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: -570px;
    margin-top: -280px;
  }
  
  .footer .grid-footer {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1fr);
    gap: 20px;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 80px;
  }
  
  .footer .grid-footer .footer-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -150px;
  }
  
  .footer .grid-footer .footer-pages .link {
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .footer .grid-footer .footer-pages .subscribe {
    margin-top: 10px;
  }
  
  .subscribe input[type="text"] {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .subscribe button {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background-color: #0b151d;
    color: white;
    cursor: pointer;
    width: 100px;
    font-size: large;
  }
  
  .footer .footer-divider {
    margin-left: 150px;
    margin-right: 160px;
    margin-top: 20px;
    border: 1px solid #636060;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .footer .footer-copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .social-icon {
    margin-left: 10px;
  }
  
  @media only screen and (max-width: 767px) {
    .footer .grid-footer {
      grid-template-columns: 1fr;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .footer .grid-footer .footer-pages {
      flex-direction: column;
      margin-left: 0;
    }
  
    .footer .grid-footer .footer-pages .link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .footer .footer-divider {
      margin-left: 20px;
      margin-right: 20px;
    }

    .container {
        margin-left: 320px;
        margin-bottom: 80px;
        padding-top: -180px;
    }
  }