/* Body */
body{
    background-color:#2C1F4A   ;
}

a {
    text-decoration: none;
    color: 'black';
}


/* Our Team */
#ourteam-container {
    margin-top: 70px;
    background-color: white;
}
#ourteam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px;
}
#ourteam .box {
    height: 730px;
    width: 500px;
    padding: 40px 30px 0px 30px;
    margin: 50px 30px;
    border-radius: 3px;
    background-color: #392D53;
    transition: all 0.2s ease-out 0.05s
}

#ourteam .box:hover{
    transform: scale(1.01);
    border: 1px solid black;
    transition: all 0.2s ease-out 0.05s;
}
#ourteam .box .img-box{
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    height: 400px;
}
#ourteam .box img {
    border-radius: 5px;
    border: 1px solid black;
    height: 390px;
    display: block;
    margin: auto;
}
#ourteam .box .text-box{
    padding-top: 40px;
}
#ourteam .box p {
    color: white;
    font-size: 1rem;
    font-family: 'Sen', sans-serif; 
    height: 100%;
}



/* Utility Classes */
.h-primary {
    color: white;
    font-size: 2.7rem;
    padding: 30px 0px;
    font-family: 'Sarala', sans-serif;
    align-items: center;
    text-align: center;
}

.h-primary.phone {
    font-size: 1.5rem; 
}

.h-secondary {
    font-size: 1.75rem;
    padding: 10px;
    font-family: 'Blinker', sans-serif;
    color: white;
}
.center {
    text-align: center;
}

.space {
    padding: 150px;
    padding-bottom: 150px;
    padding-top: 150px;
}

#clr-txt{
    color: #B99EFF;
}



/* Responsive */
@media screen and (max-width: 768px) {
    #services .box {
        width: 100%;
        max-width: 400px;
    }
    .h-primary {
        padding: 140px 15px 70px 15px; 
    }
    .h-primary.phone {
        font-size: 1.2rem; 
    }
    #services .box.phone{
        height: 790px;
    }
    #ourteam .box:hover {
        transform: none;
        border: none;
    }
}


@media screen and (max-width: 480px) {
    #ourteam .box {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #ourteam .box .img-box {
        padding-top: 20px; 
    }

    #ourteam .box img {
        height: auto;
        max-width: 100%;
    }

    #ourteam .box p {
        padding: 20px 3px; 
    }
}