/* home section */
.container {
  top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 100px;
}

.container p {
  color: white;
  font-size: 30px;
  margin-right: 380px;
  margin-top: -20px;
}

.search-box {
  margin-right: 400px;
}

.main-text {
  font-size: 90px;
  font-weight: 700;
  color: white;
  max-width: 1500px;
  font-family: 'Poppins', sans-serif;
  text-shadow: -1px 0 0px #000, 0 1px 0px #000, -2px 1px 0px #000, -1px 2px 0px #000, -3px 2px 0px #000, -2px 3px 0px #000, -4px 3px 0px #000, -3px 4px 0px #000, -5px 4px 0px #000, -4px 5px 0px #000, -6px 5px 0px #000, -5px 6px 15px #000;
  display: inline-block;
  position: relative;
  padding: 0px 6px; 
  transition: 0.8s;
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 0deg );
  white-space: nowrap;
}

@media (max-width: 768px) {
  .container {
    left: 0; 
  }

  .container p {
    margin-right: 0; 
    text-align: center; 
  }

  .search-box {
    margin-right: 0; 
    margin-top: 120px;
  }

  .main-text {
    font-size: 40px; 
  }
}

/* about us */

.aboutus-section {
  position: relative;
  top: 250px;
  width: 100%;
  background-color: white;
  overflow-x: hidden; 
}

.aboutus-section h1 {
  text-align: center;
  font-size: 60px;
}

.aboutus-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 120px;
  margin-right: 120px;
  overflow: hidden;
}

.aboutus-grid p {
  text-align: justify;
  font-size: larger;
  color: black;
}

.aboutus-section .aboutus-grid .grid {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .aboutus-section {
    top: 100px;
  }

  .aboutus-grid {
    grid-template-columns: 1fr; 
    margin-left: 20px;
    margin-right: 20px;
  }

  .aboutus-grid .grid {
    margin-right: 140px;
    margin-left: 20px;
  }
}

/* services */

.ourservices-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 120px;
  margin-right: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.ourservices-grid .service-card {
  background: #7F56DA;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  transition: 0.25s ease;
  flex-direction: column;
  text-align: left;
  height: 400px;
  margin-right: 20px;
}

.ourservices-grid .service-card h1 {
  font-size: 40px;
}

.ourservices-grid .service-card p {
  text-align: justify;
  color: black;
  font-weight: 500;
}

@media (max-width: 767px) {
  .ourservices-grid {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .ourservices-grid .service-card {
    margin-right: 0;
    margin-bottom: 20px;
    height: 450px;
  }
}

/* footer */
.footer {
    width: 100%;
    height: 80px;
    position: relative;
    top: 220px;
    color: white;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .tsp-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  .footer .grid-footer {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1fr);
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
  }
  
  .footer .grid-footer .footer-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -150px;
  }
  
  .footer .grid-footer .footer-pages .link {
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .footer .grid-footer .footer-pages .subscribe {
    margin-top: 10px;
  }
  
  .subscribe input[type="text"] {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .subscribe button {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background-color: #0b151d;
    color: white;
    cursor: pointer;
    width: 100px;
    font-size: large;
  }
  
  .footer .footer-divider {
    margin-left: 150px;
    margin-right: 160px;
    margin-top: 20px;
    border: 1px solid #636060;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .footer .footer-copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .social-icon {
    margin-left: 10px;
  }

  
  
  @media only screen and (max-width: 767px) {
    .footer .grid-footer {
      grid-template-columns: 1fr;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .footer .grid-footer .footer-pages {
      flex-direction: column; 
      margin-left: 0; 
    }
  
    .footer .grid-footer .footer-pages .link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .footer .footer-divider {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  